@page "/"




<h1></h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<BFlexbox Direction="Directions.row">
    <div>Testo</div>
    <div>Testo</div>
    <div>Testo</div>
    <div>Testo</div>
    <div>Testo</div>
    <div>Testo</div>
</BFlexbox>