@page "/"




<h1></h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<BFlexbox Direction="Directions.row" Horizontal_aling="Horizontal_alings.center" Vertical_align="Vertical_aligns.center" Wrap="true">
    <div>Testo</div>
    <div>Testo</div>
    <div>Testo</div>
    <div>Testo</div>
    <div>Testo</div>
    <div>Testo</div>
</BFlexbox>